body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

div {
    border: 0px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    height: 640px;
    width: 640px;
    border: solid 2px black;
}

#btn-section {
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    padding: 15px;
    background-color: #0077CC;
    margin-top: 20px;
    align-items: center;
    width: 580px;
}

#txt-output {
    font-size: 28px;
    color: white;
    font-weight: bolder;
}

h1 {
    margin: 20px;
    font-weight: 900;
    font-size: 40px;
}

#btn-size {
    border: 2px solid white;
    border-radius: 15px;
    background-color: #0077CC;
    color: white;
    padding: 10px;
    font-size: 18px;
}